:root {
	--main-text-color: #ffffff;
	--main-bg-color: #85bbd5;
	--main-btn-color: #361d19;
	--btn-hvr-color: #fdba51;
	--make-opaque: #ffffff00;
}

* {
	font-family: "American Typewriter", "Courier New";
	background-color: var(--main-bg-color);
}

body {
	box-sizing: border-box;
	max-width: 100%;
	margin-left: 1em;
	margin-right: 1em;
}

.textdiv {
	width: 100%;
	font-size: 1.5em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#liveslefttext {
	display: inline-flex;
	align-items: start;
	justify-content: start;
}

button {
	padding: 0.25em 0.75em;
	margin: 0.4em 0.4em;
    min-width: 9.45em;
    min-height: 4em;
    text-align: center;
  	transition: 150ms all ease-in-out;
	border: none;
	color: var(--main-text-color);
	background-color: var(--main-btn-color);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.quotebutton, .replaybutton {
	width: 30.0em;
	/*white-space: nowrap;*/
}

.icons {
	display: inline-flex;
	align-items: start;
	justify-content: start;
}

button:enabled:hover {
	color: #000000;
	background-color: var(--btn-hvr-color);
	transform: scale(1.05);
}

button:enabled:active {
	transform: scale(.95);
}

button:disabled {
	color: var(--make-opaque);
}

/*keyframes??*/


