* {
	box-sizing: border-box;
	font-family: "American Typewriter", "Courier New";
	background-color: #85bbd5;
}

.textdiv {
	width: 20.0em;
	font-size: 1.5em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#liveslefttext {
	justify-content: start;
}

button {
	padding: 0.25em 0.75em;
	min-width: 10ch;
    min-height: 44px;
    text-align: center;
  	transition: 150ms all ease-in-out;
	border: none;
	color: #ffffff;
	background-color: #361d19;
	padding: 0.1em 0.1em;
	margin: 2px 2px 2px 2px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.quotebutton, .replaybutton {
	width: 100%;
	white-space: nowrap;
}

button:hover {
	color: #000000;
	background-color: #fdba51;
	transform: scale(1.05);
}

button:active {
	transform: scale(.95);
}

/*keyframes??*/